@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredericka+the+Great&family=Poiret+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #FFFFFF;
    font-family: "Poiret One", sans-serif;
}

h1 {
    font-family: "Fredericka the Great", cursive;
}

.shared-section {
    background-image: radial-gradient(circle at center center, rgba(242, 204, 143, 0.1) 5%, rgba(255, 255, 255, 0) 9%);
    background-size: 45px 45px;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

